Repository LazyVim/LazyVim, changes with the labels that .github/labeler.yml gives for each.
All labels: extras, extras-lang

.github/labeler.yml:

core:
  - all:
      - changed-files:
          - any-glob-to-any-file: "lua/lazyvim/**"
          - all-globs-to-all-files: "!lua/lazyvim/plugins/**"

core-plugins:
  - all:
      - changed-files:
          - any-glob-to-any-file: "lua/lazyvim/plugins/**"
          - all-globs-to-all-files: "!lua/lazyvim/plugins/extras/**"

extras:
  - changed-files:
      - any-glob-to-any-file: "lua/lazyvim/plugins/extras/**"

extras-lang:
  - changed-files:
      - any-glob-to-any-file: "lua/lazyvim/plugins/extras/lang/**"

feat(bufferline): add keymaps for BufferLineMovePrev / BufferLineMoveNext (#1935)
  lua/lazyvim/plugins/ui.lua
Labels: none

feat(python): switch to regexp branch for a rewrite the venv selector plugin (#3301)
  lua/lazyvim/plugins/extras/lang/python.lua
Labels: extras, extras-lang

style: python.lua
  lua/lazyvim/plugins/extras/lang/python.lua
Labels: extras, extras-lang

ci: added some tests
  .github/workflows/ci.yml
  tests/extras/lang_spec.lua
  tests/init.lua
  tests/run
Labels: none

fix(extras): added recommended for helm/haskell
  lua/lazyvim/plugins/extras/lang/haskell.lua
  lua/lazyvim/plugins/extras/lang/helm.lua
Labels: extras, extras-lang

tests: check for treesitter langs and mason lsp config
  tests/extras/lang_spec.lua
  tests/init.lua
Labels: none

fix: cleanup unnecessary treesitter langs and mason lsp servers
  lua/lazyvim/plugins/extras/lang/ansible.lua
  lua/lazyvim/plugins/extras/lang/clangd.lua
  lua/lazyvim/plugins/extras/lang/elixir.lua
  lua/lazyvim/plugins/extras/lang/helm.lua
  lua/lazyvim/plugins/extras/lang/json.lua
  lua/lazyvim/plugins/extras/lang/markdown.lua
  lua/lazyvim/plugins/extras/lang/python.lua
  lua/lazyvim/plugins/extras/lang/r.lua
  lua/lazyvim/plugins/extras/lang/ruby.lua
  lua/lazyvim/plugins/extras/lang/rust.lua
  lua/lazyvim/plugins/extras/lang/tex.lua
  lua/lazyvim/plugins/extras/lang/toml.lua
  lua/lazyvim/plugins/extras/lang/yaml.lua
  tests/extras/lang_spec.lua
Labels: extras, extras-lang

feat: add swift lang plugin
  lua/lazyvim/plugins/extras/lang/swift.lua
Labels: extras, extras-lang

feat: add charp_roslyn support
  lua/lazyvim/plugins/extras/lang/charp_roslyn.lua
Labels: extras, extras-lang

Update jsonnet.lua
  lua/lazyvim/plugins/extras/lang/jsonnet.lua
Labels: extras, extras-lang

add jsonnet support
  lua/lazyvim/plugins/extras/lang/jsonnet.lua
Labels: extras, extras-lang

feat(lang/thrift): add thrift lang support
  lua/lazyvim/plugins/extras/lang/thrift.lua
Labels: extras, extras-lang

feat(http): add http extra lang
  lua/lazyvim/plugins/extras/lang/http.lua
Labels: extras, extras-lang

remove unnecessary
  lua/lazyvim/plugins/extras/lang/zig.lua
Labels: extras, extras-lang

add dap debug with codelldb
  lua/lazyvim/plugins/extras/lang/zig.lua
Labels: extras, extras-lang

feat(lang): add zig support
  lua/lazyvim/plugins/extras/lang/zig.lua
Labels: extras, extras-lang

put setup inside opts
  lua/lazyvim/plugins/extras/lang/zig.lua
Labels: extras, extras-lang

add zigfmt none-ls formating
  lua/lazyvim/plugins/extras/lang/zig.lua
Labels: extras, extras-lang

Add conform.nvim zig formatter
  lua/lazyvim/plugins/extras/lang/zig.lua
Labels: extras, extras-lang

use opts instead of config for zig-tools
  lua/lazyvim/plugins/extras/lang/zig.lua
Labels: extras, extras-lang

simplify opts for zig-tools
  lua/lazyvim/plugins/extras/lang/zig.lua
Labels: extras, extras-lang

feat(clojure): add clojure support
  lua/lazyvim/plugins/extras/lang/clojure.lua
Labels: extras, extras-lang

feat: add undo tree
  lua/lazyvim/plugins/extras/editor/undotree.lua
Labels: extras

fix(util): don't print warning message in headless
  lua/lazyvim/util/init.lua
Labels: none

ci: remove commit linter in favor of PR title linter
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Labels: none

remove kotlin debug adapter
  lua/lazyvim/plugins/extras/lang/kotlin.lua
Labels: extras, extras-lang

remove unnecessary messages
  lua/lazyvim/plugins/extras/lang/kotlin.lua
Labels: extras, extras-lang

update nvim-dap opts
  lua/lazyvim/plugins/extras/lang/kotlin.lua
Labels: extras, extras-lang

feat(svelte): add key binding for organize imports
  lua/lazyvim/plugins/extras/lang/svelte.lua
Labels: extras, extras-lang

tests: refactored tests a bit
  tests/extras/lang_spec.lua
Labels: none

fix(svelte): solves sveltejs/language-tools#2008
  lua/lazyvim/plugins/extras/lang/svelte.lua
Labels: extras, extras-lang

feat(svelte): add formatter for svelte
  lua/lazyvim/plugins/extras/lang/svelte.lua
Labels: extras, extras-lang

fix(svelte): added organize imports and prettier (#3466)
  lua/lazyvim/plugins/extras/lang/svelte.lua
Labels: extras, extras-lang

fix(extra): Fix lost ensured_installed issue after 12.5.0
  lua/lazyvim/plugins/extras/lang/angular.lua
  lua/lazyvim/plugins/extras/lang/astro.lua
  lua/lazyvim/plugins/extras/lang/clangd.lua
  lua/lazyvim/plugins/extras/lang/cmake.lua
  lua/lazyvim/plugins/extras/lang/docker.lua
  lua/lazyvim/plugins/extras/lang/haskell.lua
  lua/lazyvim/plugins/extras/lang/json.lua
  lua/lazyvim/plugins/extras/lang/omnisharp.lua
  lua/lazyvim/plugins/extras/lang/python.lua
  lua/lazyvim/plugins/extras/lang/r.lua
  lua/lazyvim/plugins/extras/lang/scala.lua
  lua/lazyvim/plugins/extras/lang/svelte.lua
  lua/lazyvim/plugins/extras/lang/terraform.lua
  lua/lazyvim/plugins/extras/lang/tex.lua
  lua/lazyvim/plugins/extras/lang/vue.lua
Labels: extras, extras-lang
