Repository LazyVim/LazyVim, pull requests merged in 2024-09, with the labels that each got.

#4411 fix(extra): make copilot-chat.lua fallback to the latest model
  lua/lazyvim/plugins/extras/coding/copilot-chat.lua
Labels: extras

#4404 fix(grug): grug_far -> grug.open
  lua/lazyvim/plugins/editor.lua
Labels: core-plugins

#4392 feat(vscode): make use of vscode builtin terminal
  lua/lazyvim/plugins/extras/vscode.lua
Labels: extras

#4327 fix(ocaml): get_language_id
  lua/lazyvim/plugins/extras/lang/ocaml.lua
Labels: extras, extras-lang

#4308 fix(vue): ensure css treesitter installed
  lua/lazyvim/plugins/extras/lang/astro.lua
  lua/lazyvim/plugins/extras/lang/vue.lua
Labels: extras, extras-lang

#4260 fix(omnisharp): use Go To Definition with fzf.lua
  lua/lazyvim/plugins/extras/lang/omnisharp.lua
Labels: extras, extras-lang, Stale
