Repository LazyVim/LazyVim, pull requests merged in 2024-12, with the labels that each got.

#4928 fix(ui): disable mini.indentscope on `ft=snacks_dashboard`
  lua/lazyvim/plugins/extras/ui/mini-indentscope.lua
Labels: extras

#4931 fix(copilot): CopilotChat.nvim has moved to main
  lua/lazyvim/plugins/extras/ai/copilot-chat.lua
Labels: extras

#4939 feat(snacks): silence copy url keymap
  lua/lazyvim/config/keymaps.lua
Labels: core

#4941 fix(supermaven): blink.cmp integration
  lua/lazyvim/plugins/extras/ai/supermaven.lua
Labels: extras

#4942 feat(extras.ai): blink.cmp integration and kind overrides for menu drawing
  lua/lazyvim/plugins/extras/ai/codeium.lua
  lua/lazyvim/plugins/extras/ai/copilot.lua
  lua/lazyvim/plugins/extras/ai/supermaven.lua
  lua/lazyvim/plugins/extras/ai/tabnine.lua
  lua/lazyvim/plugins/extras/coding/blink.lua
Labels: extras

#4953 fix(blink): update config for latest changes
  lua/lazyvim/plugins/extras/coding/blink.lua
Labels: extras

#4947 fix(ui): actually disable mini-indentscope on snacks_dashboard
  lua/lazyvim/plugins/extras/ui/mini-indentscope.lua
Labels: extras

#4905 fix(tex): specify filetype for <localleader>l
  lua/lazyvim/plugins/extras/lang/tex.lua
Labels: extras, extras-lang

#4940 fix(extras.treesitter-context): change event back to `LazyFile`
  lua/lazyvim/plugins/extras/ui/treesitter-context.lua
Labels: extras

#3212 feat(rust): add bacon-ls and improve debugging
  lua/lazyvim/plugins/extras/lang/rust.lua
Labels: extras, extras-lang, conflicts

#4963 fix(rust): only use mason.nvim if it is present
  lua/lazyvim/plugins/extras/lang/rust.lua
Labels: extras, extras-lang

#4983 feat(vscode): add vscode-specific keymaps and sync undo/redo with vscode
  lua/lazyvim/plugins/extras/vscode.lua
Labels: extras

#4999 fix(blink): set kind to int, not string, if overriding
  lua/lazyvim/plugins/extras/coding/blink.lua
Labels: extras

#5011 fix(clangd): avoid nil-indexing the completion sorting comparators
  lua/lazyvim/plugins/extras/lang/clangd.lua
Labels: extras, extras-lang

#4991 fix(java): only use mason-registry if mason installed
  lua/lazyvim/plugins/extras/lang/java.lua
Labels: extras, extras-lang

#5013 fix(java): only setup debug adapter config if mason is installed
  lua/lazyvim/plugins/extras/lang/java.lua
Labels: extras, extras-lang

#5014 fix(java): only setup debug adapter config if mason is installed (for real this time)
  lua/lazyvim/plugins/extras/lang/java.lua
Labels: extras, extras-lang

#5024 fix(blink): unset provider.kind
  lua/lazyvim/plugins/extras/coding/blink.lua
Labels: extras

#5021 feat(rust): exclude bad directories from rust-analyzer
  lua/lazyvim/plugins/extras/lang/rust.lua
Labels: extras, extras-lang

#5037 style(blink): use block vs. icon for colors
  lua/lazyvim/plugins/extras/coding/blink.lua
Labels: extras

#5044 fix(blink): `draw.treesitter` expects table
  lua/lazyvim/plugins/extras/coding/blink.lua
Labels: extras

#5006 chore(keymaps): stylua
  lua/lazyvim/config/keymaps.lua
Labels: core

#5130 refactor(blink): use upstream <Tab> keymap fn
  lua/lazyvim/plugins/extras/coding/blink.lua
Labels: extras

#5175 feat(colorscheme): add fzf integration to catppuccin
  lua/lazyvim/plugins/colorscheme.lua
Labels: core-plugins

#5177 fix(fzf): fzf.lua compatible hidden scrollbar
  lua/lazyvim/plugins/extras/editor/fzf.lua
Labels: extras

#5182 fix(codeium): doesnt automatically load when `vim.g.ai_cmp` is set to false
  lua/lazyvim/plugins/extras/ai/codeium.lua
Labels: extras

#5183 perf(supermaven): add lazy-loading
  lua/lazyvim/plugins/extras/ai/supermaven.lua
Labels: extras

#5212 fix(blink): remove compatibility with 0.7.6 release
  lua/lazyvim/plugins/extras/coding/blink.lua
Labels: extras
