Repository LazyVim/LazyVim, pull requests merged in 2024-07, with the labels that each got.

#3888 fix(chezmoi): missing support for fzf file picker
  lua/lazyvim/plugins/extras/util/chezmoi.lua
Labels: extras

#3904 feat(fzf-lua): preview keymaps for git
  lua/lazyvim/plugins/extras/editor/fzf.lua
Labels: extras

#3899 feat(ui): use `mini.icons` instead of `nvim-wev-devicons`
  lua/lazyvim/plugins/ui.lua
Labels: core-plugins

#3911 feat(erlang): add Erlang language
  lua/lazyvim/plugins/extras/lang/erlang.lua
Labels: extras, extras-lang

#3917 refactor(trouble): move options in keymaps for lsp and symbols to `opts`
  lua/lazyvim/plugins/editor.lua
Labels: core-plugins

#3919 fix(project): properly close window after changing directory
  lua/lazyvim/plugins/extras/util/project.lua
Labels: extras

#3915 feat(util): rest-client
  lua/lazyvim/plugins/extras/util/rest.lua
Labels: extras

#3927 fix(dial): move date related augends to default group
  lua/lazyvim/plugins/extras/editor/dial.lua
Labels: extras

#3924 fix(outline): use the correct symbols and filter config format
  lua/lazyvim/plugins/extras/editor/outline.lua
Labels: extras

#3908 feat(vue): enabled hybrid mode to avoid 2 typescript lsp running at same time
  lua/lazyvim/plugins/extras/lang/vue.lua
Labels: extras, extras-lang

#3929 fix(lualine): use the new ministarter file type to disable in mini.starter
  lua/lazyvim/plugins/ui.lua
Labels: core-plugins

#3935 fix(mini.starter): lazyvim startuptime in mini.starter
  lua/lazyvim/plugins/extras/ui/mini-starter.lua
Labels: extras

#3931 feat(icons): provide language specific icons in extras
  lua/lazyvim/plugins/extras/lang/go.lua
  lua/lazyvim/plugins/extras/lang/typescript.lua
  lua/lazyvim/plugins/extras/util/chezmoi.lua
  lua/lazyvim/plugins/ui.lua
Labels: extras, extras-lang

#3891 feat(java): allow overriding test config
  lua/lazyvim/plugins/extras/lang/java.lua
Labels: extras, extras-lang

#3941 fix(lazygit): improve git browse
  lua/lazyvim/util/lazygit.lua
  tests/util/lazygit_spec.lua
Labels: core

#3968 fix(java): fix `config_overrides` for tests
  lua/lazyvim/plugins/extras/lang/java.lua
Labels: extras, extras-lang

#3991 fix(php): `php_cs_fixer` is the correct name
  lua/lazyvim/plugins/extras/lang/php.lua
Labels: extras, extras-lang

#4006 fix(outline): use new object for `symbols.filter`
  lua/lazyvim/plugins/extras/editor/outline.lua
Labels: extras

#4000 fix(flit): use which-key preset keymap descriptions
  lua/lazyvim/plugins/extras/editor/leap.lua
Labels: extras

#4013 feat(java): new java mappings format for which-key v3
  lua/lazyvim/plugins/extras/lang/java.lua
Labels: extras, extras-lang

#4024 fix(pick): get rid of "auto" picker and set better defaults for telescope find_files
  lua/lazyvim/plugins/extras/editor/fzf.lua
  lua/lazyvim/plugins/extras/editor/telescope.lua
  lua/lazyvim/util/pick.lua
Labels: extras

#4023 fix(omnisharp): don't detach coreclr debug adapter
  lua/lazyvim/plugins/extras/lang/omnisharp.lua
Labels: extras, extras-lang

#3961 fix(tailwind): additional tailwind completion settings for phoenix projects
  lua/lazyvim/plugins/extras/lang/tailwind.lua
Labels: extras, extras-lang

#4032 fix(extra): luasnip wasn't lazyloaded
  lua/lazyvim/plugins/extras/coding/luasnip.lua
Labels: extras

#4050 feat(keymaps): dynamic which-key icons/descriptions for toggles
  lua/lazyvim/config/keymaps.lua
  lua/lazyvim/plugins/coding.lua
  lua/lazyvim/plugins/editor.lua
  lua/lazyvim/plugins/extras/ui/mini-animate.lua
  lua/lazyvim/plugins/lsp/init.lua
  lua/lazyvim/plugins/treesitter.lua
  lua/lazyvim/util/format.lua
  lua/lazyvim/util/mini.lua
  lua/lazyvim/util/toggle.lua
Labels: core-plugins, extras

#4059 feat(treesitter-context): which-key toggle
  lua/lazyvim/plugins/extras/ui/treesitter-context.lua
Labels: extras

#4078 feat(R): added new which-key group for new install feature
  lua/lazyvim/plugins/extras/lang/r.lua
Labels: extras, extras-lang

#4090 feat(terminal): clear search highlight when opening a terminal
  lua/lazyvim/util/terminal.lua
Labels: core

#4096 feat(lualine): allow for trouble_lualine to be overriden on buffer
  lua/lazyvim/plugins/ui.lua
Labels: core-plugins

#4079 feat(lang): add OCaml
  lua/lazyvim/plugins/extras/lang/ocaml.lua
Labels: extras, extras-lang

#4080 feat(lang): add Lean 4 support
  lua/lazyvim/plugins/extras/lang/lean.lua
Labels: extras, extras-lang

#3652 feat(extras): improve ruby extra by letting user chose
  lua/lazyvim/plugins/extras/lang/ruby.lua
Labels: extras, extras-lang

#4120 feat(core): defer clipboard because xsel and pbcopy can be slow
  lua/lazyvim/config/init.lua
Labels: core

#4099 feat(editor): replace nvim-spectre with grug-far.nvim
  NEWS.md
  lua/lazyvim/config/autocmds.lua
  lua/lazyvim/plugins/editor.lua
  lua/lazyvim/plugins/extras/ui/mini-animate.lua
Labels: core-plugins, extras

#4122 feat(indent-blankline): add which-key toggles
  lua/lazyvim/plugins/ui.lua
Labels: core-plugins

#4126 feat(python): default to new ruff instead of ruff_lsp
  lua/lazyvim/plugins/extras/lang/python.lua
  lua/lazyvim/plugins/lsp/init.lua
Labels: extras, extras-lang

#4148 feat(elixir): add elixirls code actions
  lua/lazyvim/plugins/extras/lang/elixir.lua
Labels: extras, extras-lang

#4106 fix(dap): extend dap.configurations from .vscode/launch.json
  lua/lazyvim/plugins/extras/dap/core.lua
Labels: extras

#4156 feat(catppuccin): enable grug-far integration
  lua/lazyvim/plugins/colorscheme.lua
Labels: core-plugins

#4139 feat(markdown): replace `headlines.nvim` by `markdown.nvim`
  NEWS.md
  lua/lazyvim/plugins/extras/lang/markdown.lua
Labels: extras, extras-lang
