Repository LazyVim/LazyVim, pull requests merged in 2024-10, with the labels that each got.

#4518 fix(extras): rename `lspconfig.server_configurations` to `lspconfig.configs`
  lua/lazyvim/plugins/extras/lang/java.lua
  lua/lazyvim/plugins/extras/lang/lean.lua
  lua/lazyvim/plugins/extras/lang/tailwind.lua
Labels: extras, extras-lang

#4506 fix(render-markdown): remove redundant `opts.file_types`
  lua/lazyvim/plugins/extras/lang/markdown.lua
Labels: extras, extras-lang

#4406 feat(lang): add ts_ls to lsp config
  lua/lazyvim/plugins/extras/lang/typescript.lua
Labels: extras, extras-lang

#4521 feat(toggle): add more `M.wk` fields for better user customization
  lua/lazyvim/util/toggle.lua
Labels: core

#4477 feat(rust): update rustaceanvim
  lua/lazyvim/plugins/extras/lang/rust.lua
Labels: extras, extras-lang

#4243 fix(gitsigns): change name of filetype blame
  lua/lazyvim/config/autocmds.lua
Labels: core, Stale

#4530 fix(typo): vimtext -> vimtex
  lua/lazyvim/plugins/extras/lang/tex.lua
Labels: extras, extras-lang

#4587 feat(extras): expose `prios` to users for customization
  lua/lazyvim/plugins/xtras.lua
Labels: core-plugins

#4618 feat(keymaps): allow `v:count1` when moving lines
  lua/lazyvim/config/keymaps.lua
Labels: core

#4557 refactor(cmp): add `optional` where necessary
  lua/lazyvim/plugins/coding.lua
  lua/lazyvim/plugins/extras/coding/tabnine.lua
  lua/lazyvim/plugins/extras/lang/python.lua
  lua/lazyvim/plugins/extras/lang/rust.lua
  lua/lazyvim/plugins/extras/lang/tailwind.lua
Labels: extras, extras-lang

#4634 fix(dap): remove explicit `load_launchjs` call
  lua/lazyvim/plugins/extras/dap/core.lua
Labels: extras

#4638 fix(autocmds): change mapping for `lazyvim_close_with_q`
  lua/lazyvim/config/autocmds.lua
Labels: core
