Repository LazyVim/LazyVim, pull requests merged in 2024-06, with the labels that each got.

#2975 feat(keymaps): add keymap to close all tab pages except the current one
  lua/lazyvim/config/keymaps.lua
Labels: core

#1935 Add keymaps for BufferLineMovePrev / BufferLineMoveNext
  lua/lazyvim/plugins/ui.lua
Labels: core-plugins

#3301 Python Venv Selector: Switch to newer regexp branch
  lua/lazyvim/plugins/extras/lang/python.lua
Labels: extras, extras-lang

#3466 fix(svelte): added organize imports and prettier
  lua/lazyvim/plugins/extras/lang/svelte.lua
Labels: extras, extras-lang

#2695 feat(mini.files): add cwd and vertical/horizontal keybindings to mini.files
  lua/lazyvim/plugins/extras/editor/mini-files.lua
Labels: extras

#2416 feat(nushell): add minimal support
  lua/lazyvim/plugins/extras/lang/nushell.lua
Labels: extras, extras-lang

#2956 feat(lang): add nix language support
  lua/lazyvim/plugins/extras/lang/nix.lua
Labels: extras, extras-lang

#3073 feat(keymaps): add neotest toggle watch keymap
  lua/lazyvim/plugins/extras/test/core.lua
Labels: extras

#3469 fix(extra.lang.angular): treesitter not enabled for angular templates
  lua/lazyvim/plugins/extras/lang/angular.lua
Labels: extras, extras-lang

#3481 fix(ui): remove extra space
  lua/lazyvim/util/extras.lua
Labels: core

#3488 fix(extra-lang-angular): re-fix angular html treesitter
  lua/lazyvim/plugins/extras/lang/angular.lua
Labels: extras, extras-lang

#2450 feat(treesitter): add printf
  lua/lazyvim/plugins/treesitter.lua
Labels: core-plugins

#2802 feat(extras): added gleam lang support
  lua/lazyvim/plugins/extras/lang/gleam.lua
Labels: extras, extras-lang

#1450 feat(lang): added php support
  lua/lazyvim/plugins/extras/lang/php.lua
Labels: extras, extras-lang

#2804 feat(lang/thrift): add thrift lang support
  lua/lazyvim/plugins/extras/lang/thrift.lua
Labels: extras, extras-lang

#3023 feat(lang): add elm
  lua/lazyvim/plugins/extras/lang/elm.lua
Labels: extras, extras-lang

#3493 fix(mason-nvim-dap): correctly configure to auto-install debug adapters
  lua/lazyvim/plugins/extras/dap/core.lua
Labels: extras

#3496 fix(php_recommended): php gets recommended in every .git repo
  lua/lazyvim/plugins/extras/lang/php.lua
Labels: extras, extras-lang

#3499 fix(markdown): missing markdown-toc in mason
  lua/lazyvim/plugins/extras/lang/markdown.lua
Labels: extras, extras-lang

#3507 fix(mini.files): fix error about `opts.mappings`
  lua/lazyvim/plugins/extras/editor/mini-files.lua
Labels: extras

#1740 feat(sql): add SQL extra
  lua/lazyvim/config/autocmds.lua
  lua/lazyvim/plugins/extras/lang/sql.lua
Labels: extras, extras-lang

#3514 fix(lualine): only show one Lualine component for symbols
  lua/lazyvim/plugins/extras/editor/aerial.lua
  lua/lazyvim/plugins/extras/editor/navic.lua
Labels: extras

#3518 fix(editor): telescope init error when trouble.nvim is disabled
  lua/lazyvim/plugins/editor.lua
Labels: core-plugins

#3517 fix(spell): fix some spells
  lua/lazyvim/plugins/extras/util/octo.lua
  tests/extras/lang_spec.lua
Labels: extras

#3521 fix(spell): fix spelling in octo keymap description
  lua/lazyvim/plugins/extras/util/octo.lua
Labels: extras

#3527 fix(cmp): don't enable `snippets` source without `nvim-snippets`
  lua/lazyvim/plugins/coding.lua
Labels: core-plugins

#3537 feat(extras): +prefix in which-key panel for visual mode
  lua/lazyvim/plugins/extras/dap/core.lua
  lua/lazyvim/plugins/extras/editor/refactoring.lua
Labels: extras

#3522 fix(extra-lang-angular): add BufNew event to attach angular treesitter
  lua/lazyvim/plugins/extras/lang/angular.lua
Labels: extras, extras-lang

#3546 fix(helm): missing dependency
  lua/lazyvim/plugins/extras/lang/helm.lua
Labels: extras, extras-lang

#3544 fix(lang): neotest not loading rust tests
  lua/lazyvim/plugins/extras/lang/rust.lua
Labels: extras, extras-lang

#3556 fix(typescript): clean up configuration of the vscode dap extension
  lua/lazyvim/plugins/extras/dap/core.lua
  lua/lazyvim/plugins/extras/lang/typescript.lua
Labels: extras, extras-lang

#3573 fix(extras.copilot-chat): small ui fix for which-key in visual mode
  lua/lazyvim/plugins/extras/coding/copilot-chat.lua
Labels: extras

#3555 feat(extras): added fzf-lua
  lua/lazyvim/plugins/editor.lua
  lua/lazyvim/plugins/extras/editor/fzf.lua
  lua/lazyvim/plugins/ui.lua
  lua/lazyvim/util/init.lua
  lua/lazyvim/util/pick.lua
  lua/lazyvim/util/root.lua
  lua/lazyvim/util/telescope.lua
Labels: extras

#3540 fix(extra-lang-php): formatting and linting
  lua/lazyvim/plugins/extras/lang/php.lua
Labels: extras, extras-lang

#3567 feat(lualine): show readonly icon
  lua/lazyvim/util/lualine.lua
Labels: core

#3538 refactor(mini-files): mini-files
  lua/lazyvim/plugins/extras/editor/mini-files.lua
Labels: extras

#3576 fix(util): ensure unique cache keys in LazyVim.memoize
  lua/lazyvim/util/init.lua
Labels: core

#3590 feat(copilot-chat): use fzf-lua if enabled in extras
  lua/lazyvim/plugins/extras/coding/copilot-chat.lua
Labels: extras

#3592 fix(fzf): disable mini.indentscope in fzf-lua buffer
  lua/lazyvim/plugins/extras/ui/mini-indentscope.lua
Labels: extras

#3606 feat(pick): move pickers to extras (telescope still the default)
  lua/lazyvim/plugins/editor.lua
  lua/lazyvim/plugins/extras/coding/yanky.lua
  lua/lazyvim/plugins/extras/editor/fzf.lua
  lua/lazyvim/plugins/extras/editor/telescope.lua
  lua/lazyvim/plugins/extras/lang/terraform.lua
  lua/lazyvim/plugins/extras/util/project.lua
  lua/lazyvim/plugins/ui.lua
  lua/lazyvim/util/init.lua
  lua/lazyvim/util/pick.lua
  lua/lazyvim/util/telescope.lua
Labels: extras, extras-lang

#3611 fix(ui): use `LazyVim.pick` for alpha.nvim and mini.starter extras
  lua/lazyvim/plugins/extras/ui/alpha.lua
  lua/lazyvim/plugins/extras/ui/mini-starter.lua
Labels: extras

#3620 fix(pick): move some leftovers from `editor.lua` to `editor.telescope`
  lua/lazyvim/plugins/editor.lua
  lua/lazyvim/plugins/extras/editor/telescope.lua
Labels: extras

#3638 fix(fzf): floating previewer closed fail
  lua/lazyvim/plugins/extras/editor/fzf.lua
Labels: extras

#3654 fix(vue): can not inc-rename
  lua/lazyvim/plugins/extras/lang/vue.lua
Labels: extras, extras-lang

#3655 fix(lang): incorporate latest changes from `rustaceanvim`
  lua/lazyvim/plugins/extras/lang/rust.lua
Labels: extras, extras-lang

#3661 fix(elixir): add missing lspconfig
  lua/lazyvim/plugins/extras/lang/elixir.lua
Labels: extras, extras-lang

#3667 fix(egdy): do not add panes for not enabled neo-tree sources
  lua/lazyvim/plugins/extras/ui/edgy.lua
Labels: extras

#3673 fix(pick): remove the unused commands attribute
  lua/lazyvim/util/pick.lua
Labels: core

#3666 feat: add some fzf-lua keymap
  lua/lazyvim/plugins/extras/util/project.lua
Labels: extras

#3687 refactor(util): use available get_plugin() function
  lua/lazyvim/util/init.lua
Labels: core

#3686 feat(outline): free ctrl-k /ctrl+j
  lua/lazyvim/plugins/extras/editor/outline.lua
Labels: extras

#3691 feat(extras): allow using intelephense instead of phpactor in php extras
  lua/lazyvim/plugins/extras/lang/php.lua
Labels: extras, extras-lang

#3707 fix(conform): `lsp_format` breaking changes
  lua/lazyvim/plugins/formatting.lua
Labels: core-plugins

#3701 fix(lazygit): support monorepo structure and other git providers
  lua/lazyvim/util/lazygit.lua
Labels: core

#3712 fix(snippets): nvim-snippets `<S-Tab>` prev key
  lua/lazyvim/plugins/coding.lua
Labels: core-plugins

#3719 fix(statuscolumn): `%r` deprecated in nightly and `%l` handles everything
  lua/lazyvim/util/ui.lua
Labels: core

#3690 feat(project): add fzf-lua keymap descriptions
  lua/lazyvim/plugins/extras/util/project.lua
Labels: extras

#3716 fix(dap): get the correct debugpy pkg path on windows
  lua/lazyvim/plugins/extras/lang/python.lua
Labels: extras, extras-lang

#3684 feat(extra): add prisma support and config
  lua/lazyvim/plugins/extras/lang/prisma.lua
Labels: extras, extras-lang

#3723 fix(extras.python): avoid launching extra console with dap on Windows
  lua/lazyvim/plugins/extras/lang/python.lua
Labels: extras, extras-lang

#3758 feat(gitsigns): new keymap for `Gitsigns blame`
  lua/lazyvim/config/autocmds.lua
  lua/lazyvim/plugins/editor.lua
Labels: core-plugins

#3756 fix(statuscolumn): fix `folds_open = true`
  lua/lazyvim/util/ui.lua
Labels: core

#3749 feat(go): switch to neotest-golang
  lua/lazyvim/plugins/extras/lang/go.lua
  lua/lazyvim/plugins/extras/test/core.lua
Labels: extras, extras-lang

#3769 fix(refactoring): use `pick` for both Telescope and fzf-lua
  lua/lazyvim/plugins/extras/editor/refactoring.lua
Labels: extras

#3738 refactor(extras.ui): simplify neo-tree related logic in edgy extra
  lua/lazyvim/plugins/extras/ui/edgy.lua
Labels: extras

#3736 feat(gitsigns): navigate diff changes as well as git hunks with [h/]h
  lua/lazyvim/plugins/editor.lua
Labels: core-plugins

#3778 fix(lazygit): use `lazy.util.open` on Neovim <= 0.10
  lua/lazyvim/util/lazygit.lua
Labels: core

#3784 fix(dap): only load `mason-nvim-dap` when not disabled
  lua/lazyvim/plugins/extras/dap/core.lua
Labels: extras

#3786 fix(extras.astro): support `astro.config.ts` root
  lua/lazyvim/plugins/extras/lang/astro.lua
Labels: extras, extras-lang

#3798 fix(fzf): disable `preview` for `vtsls`
  lua/lazyvim/plugins/extras/editor/fzf.lua
Labels: extras

#3803 fix(util.terminal): fix the shellredir and shellpipe options for powershell
  lua/lazyvim/util/terminal.lua
Labels: core

#3809 fix(elixir): fix credo detection for elixir linters.
  lua/lazyvim/plugins/extras/lang/elixir.lua
Labels: extras, extras-lang

#3765 feat(extra.sql): add sql options docs
  lua/lazyvim/plugins/extras/lang/sql.lua
Labels: extras, extras-lang

#3824 fix(neotest): support adapter key on adapter for playwright
  lua/lazyvim/plugins/extras/test/core.lua
Labels: extras

#3821 refactor(project): use header descriptions without using `fzf-lua.actions`
  lua/lazyvim/plugins/extras/util/project.lua
Labels: extras

#3828 fix(lint): make prepend_args opt work when default args is empty
  lua/lazyvim/plugins/linting.lua
Labels: core-plugins

#3830 fix(gitsigns): fix inconsistent signs
  lua/lazyvim/plugins/editor.lua
Labels: core-plugins

#3834 fix(bufremove): fix `Cancel`
  lua/lazyvim/util/ui.lua
Labels: core

#2421 feat(extras): add `overseer.nvim` plugin extra
  lua/lazyvim/plugins/extras/editor/overseer.lua
Labels: extras

#2859 feat(extras): add chezmoi extra
  lua/lazyvim/plugins/extras/util/chezmoi.lua
Labels: extras

#3843 feat(extras): switch to markdownlint-cli2
  lua/lazyvim/plugins/extras/lang/markdown.lua
Labels: extras, extras-lang

#3833 fix(lazygit): fix browsing private git hostings
  lua/lazyvim/util/lazygit.lua
Labels: core

#3794 fix(edgy): improve edgy.lua bufferline offset logic
  lua/lazyvim/plugins/extras/ui/edgy.lua
Labels: extras

#3852 feat(java): enable Lombok support in jdtls
  lua/lazyvim/plugins/extras/lang/java.lua
Labels: extras, extras-lang

#3858 feat(cmp): disable `item.menu` for Rust filetypes
  lua/lazyvim/plugins/coding.lua
Labels: core-plugins

#3871 fix(neo-tree): remove `branch`, since it obstructs updating to latest version
  lua/lazyvim/plugins/editor.lua
Labels: core-plugins

#3873 feat(cmp): attempt for dynamic width and trimming between fields
  lua/lazyvim/plugins/coding.lua
Labels: core-plugins
