Repository LazyVim/LazyVim, pull requests merged in 2024-11, with the labels that each got.

#4666 fix(lazygit): file history when cwd is outside the repo
  lua/lazyvim/config/keymaps.lua
Labels: core

#4680 feat(extras): blink
  lua/lazyvim/plugins/extras/coding/blink.lua
  lua/lazyvim/plugins/extras/coding/copilot.lua
  lua/lazyvim/plugins/lsp/init.lua
  lua/lazyvim/plugins/xtras.lua
  lua/lazyvim/util/cmp.lua
Labels: extras, extras-lang

#4684 feat(extras): enable crates.nvim in-process lsp server
  lua/lazyvim/plugins/extras/lang/rust.lua
Labels: extras, extras-lang

#4689 fix(java): jdtls run with args
  lua/lazyvim/plugins/extras/dap/core.lua
Labels: extras

#4706 feat(core)!: move a bunch of LazyVim features to snacks.nvim
  NEWS.md
  lua/lazyvim/config/autocmds.lua
  lua/lazyvim/config/keymaps.lua
  lua/lazyvim/config/options.lua
  lua/lazyvim/plugins/coding.lua
  lua/lazyvim/plugins/editor.lua
  lua/lazyvim/plugins/extras/editor/mini-files.lua
  lua/lazyvim/plugins/extras/lang/markdown.lua
  lua/lazyvim/plugins/extras/ui/edgy.lua
  lua/lazyvim/plugins/extras/ui/mini-animate.lua
  lua/lazyvim/plugins/extras/ui/mini-indentscope.lua
  lua/lazyvim/plugins/extras/ui/treesitter-context.lua
  lua/lazyvim/plugins/extras/util/gitui.lua
  lua/lazyvim/plugins/init.lua
  lua/lazyvim/plugins/lsp/init.lua
  lua/lazyvim/plugins/lsp/keymaps.lua
  lua/lazyvim/plugins/ui.lua
  lua/lazyvim/util/deprecated.lua
  lua/lazyvim/util/format.lua
  lua/lazyvim/util/init.lua
  lua/lazyvim/util/lazygit.lua
  lua/lazyvim/util/lsp.lua
  lua/lazyvim/util/mini.lua
  lua/lazyvim/util/news.lua
  lua/lazyvim/util/plugin.lua
  lua/lazyvim/util/terminal.lua
  lua/lazyvim/util/toggle.lua
  lua/lazyvim/util/ui.lua
  tests/util/lazygit_spec.lua
Labels: extras, extras-lang

#4716 fix(copilot-chat): setup cmp conditionally
  lua/lazyvim/plugins/extras/coding/copilot-chat.lua
Labels: extras

#4719 fix(prettier): keep existing formatters_by_ft
  lua/lazyvim/plugins/extras/formatting/prettier.lua
Labels: extras

#4715 feat(extras.nushell): update to upstream treesitter
  lua/lazyvim/plugins/extras/lang/nushell.lua
Labels: extras, extras-lang

#4658 fix(dial): follow comment explanation for integers
  lua/lazyvim/plugins/extras/editor/dial.lua
Labels: extras

#4437 feat(extras): lang/zig
  lua/lazyvim/plugins/extras/lang/zig.lua
Labels: extras, extras-lang, Stale

#4708 feat(toggle): add illuminate toggle for which-key
  lua/lazyvim/plugins/extras/editor/illuminate.lua
Labels: extras

#4574 fix(extras): make kulala keys only for http files
  lua/lazyvim/plugins/extras/util/rest.lua
Labels: extras

#4603 docs(dap): document `continue` to be used also for `run`
  lua/lazyvim/plugins/extras/dap/core.lua
Labels: extras

#4374 fix(neotest): disambiguous key map descriptions
  lua/lazyvim/plugins/extras/test/core.lua
Labels: extras, Stale

#4375 fix(snippet): don't set navigation mappings in nightly
  lua/lazyvim/plugins/coding.lua
Labels: core-plugins, Stale

#4314 fix(project.nvim): correctly delete projects
  lua/lazyvim/plugins/extras/util/project.lua
Labels: extras

#4297 feat(extras): rego language support
  lua/lazyvim/plugins/extras/lang/rego.lua
Labels: extras, extras-lang

#4345 feat(lang.angular): configure `prettier` as formatter for `angular` templates
  lua/lazyvim/plugins/extras/lang/angular.lua
Labels: extras, extras-lang

#4625 fix(extras): use the correct naming when setting up eruby formatter
  lua/lazyvim/plugins/extras/lang/ruby.lua
Labels: extras, extras-lang

#4566 fix(lang/ruby): do not enable Rubocop as LSP if Solargraph is used
  lua/lazyvim/plugins/extras/lang/ruby.lua
Labels: extras, extras-lang

#4189 fix(telescope): buffers to start at final item
  lua/lazyvim/plugins/extras/editor/telescope.lua
Labels: extras

#4231 fix(navic): use the same background color as lualine section_c
  lua/lazyvim/plugins/extras/editor/navic.lua
Labels: extras, Stale

#3853 feat(scala): add key for worksheet hover
  lua/lazyvim/plugins/extras/lang/scala.lua
Labels: extras, extras-lang, Stale

#4184 feat(elixir): add support for livebook files (`*.livemd`)
  lua/lazyvim/plugins/extras/lang/elixir.lua
Labels: extras, extras-lang, Stale

#4731 fix(options): disable default ruler
  lua/lazyvim/config/options.lua
Labels: core

#4667 fix(extras): lazy-load telescope-terraform plugins
  lua/lazyvim/plugins/extras/lang/terraform.lua
Labels: extras, extras-lang

#4591 feat(terraform): add formatter for packer files
  lua/lazyvim/plugins/extras/lang/terraform.lua
Labels: extras, extras-lang

#4735 fix(extras): fix alpha-nvim non-string keycodes
  lua/lazyvim/plugins/extras/ui/alpha.lua
Labels: extras

#4751 feat(ai): move ai related extras from `coding` to `ai`
  lua/lazyvim/config/init.lua
  lua/lazyvim/plugins/extras/ai/codeium.lua
  lua/lazyvim/plugins/extras/ai/copilot-chat.lua
  lua/lazyvim/plugins/extras/ai/copilot.lua
  lua/lazyvim/plugins/extras/ai/tabnine.lua
  lua/lazyvim/util/json.lua
Labels: extras

#4467 feat(extras): add more keymaps to util.rest
  lua/lazyvim/plugins/extras/util/rest.lua
Labels: extras

#4752 feat(ai): better completion/suggestions of AI engines
  lua/lazyvim/config/keymaps.lua
  lua/lazyvim/config/options.lua
  lua/lazyvim/plugins/coding.lua
  lua/lazyvim/plugins/extras/ai/codeium.lua
  lua/lazyvim/plugins/extras/ai/copilot.lua
  lua/lazyvim/plugins/extras/coding/blink.lua
  lua/lazyvim/plugins/extras/coding/luasnip.lua
  lua/lazyvim/util/cmp.lua
  lua/lazyvim/util/lualine.lua
Labels: extras

#3491 feat(extras): add supermaven
  lua/lazyvim/config/init.lua
  lua/lazyvim/plugins/extras/ai/supermaven.lua
Labels: extras

#4190 fix(fzf): decouple `defaults` from `opts` to easy switch profiles
  lua/lazyvim/plugins/extras/editor/fzf.lua
Labels: extras

#4788 fix(lualine): dynamically fetch the color used in lualine
  lua/lazyvim/util/lualine.lua
Labels: core

#4791 fix(lsp): wrap signature_help
  lua/lazyvim/plugins/lsp/keymaps.lua
Labels: core-plugins

#4802 feat(copilot-chat): remove deprecated options
  lua/lazyvim/plugins/extras/ai/copilot-chat.lua
Labels: extras

#4799 feat(blink): auto-enable catppuccin integration
  lua/lazyvim/plugins/extras/coding/blink.lua
Labels: extras

#4785 feat(dial): support vue filetype
  lua/lazyvim/plugins/extras/editor/dial.lua
Labels: extras

#4448 feat(extras): add biome formatter
  lua/lazyvim/plugins/extras/formatting/biome.lua
Labels: extras

#4822 feat(copilot-chat): remove call to nvim-cmp integration
  lua/lazyvim/plugins/extras/ai/copilot-chat.lua
Labels: extras

#4832 feat(snacks): use `snacks.dashboard` as the default dashboard. moved `dashboard-nvim` to extras
  NEWS.md
  lua/lazyvim/plugins/extras/ui/alpha.lua
  lua/lazyvim/plugins/extras/ui/dashboard-nvim.lua
  lua/lazyvim/plugins/extras/ui/mini-starter.lua
  lua/lazyvim/plugins/init.lua
  lua/lazyvim/plugins/ui.lua
Labels: extras

#4833 fix(extras): add blink.cmp integration for SQL extra
  lua/lazyvim/plugins/extras/lang/sql.lua
Labels: extras, extras-lang

#4818 fix(keymaps): `gitbrowse` also in Visual mode
  lua/lazyvim/config/keymaps.lua
Labels: core

#4869 fix(snacks): remove lazygit requirement for git browse/blame keymaps
  lua/lazyvim/config/keymaps.lua
Labels: core

#4875 fix(dial): add and/or augend to python ft
  lua/lazyvim/plugins/extras/editor/dial.lua
Labels: extras

#4882 feat(colorscheme): enable catppuccin snacks integration by default
  lua/lazyvim/plugins/colorscheme.lua
Labels: core-plugins

#4850 fix(octo): upstream changed mappings to `localleader`
  lua/lazyvim/plugins/extras/util/octo.lua
Labels: extras

#4849 fix(lsp): don't leak keymaps from LSP server configs
  lua/lazyvim/plugins/lsp/keymaps.lua
Labels: core-plugins

#4870 feat(snacks): add keymap to copy url from gitbrowse
  lua/lazyvim/config/keymaps.lua
Labels: core

#4261 fix(java): give java a default nvim-dap config
  lua/lazyvim/plugins/extras/lang/java.lua
Labels: extras, extras-lang

#4891 fix(sql): only use cmp if it is available
  lua/lazyvim/plugins/extras/lang/sql.lua
Labels: extras, extras-lang

#4895 fix(ui): disable indent-blankline on `ft=snacks_dashboard`
  lua/lazyvim/plugins/ui.lua
Labels: core-plugins

#4900 fix(sql): fix autocomplete, it was using the wrong plugin name on the `LazyVim.has` check
  lua/lazyvim/plugins/extras/lang/sql.lua
Labels: extras, extras-lang

#4902 feat(lang): add maxInlayHintLength for vtsls to resolve inlay hint to…
  lua/lazyvim/plugins/extras/lang/typescript.lua
Labels: extras, extras-lang
