Repository LazyVim/LazyVim, pull requests merged in 2025-01, with the labels that each got.

#5319 fix(nlua): debugger not responding
  lua/lazyvim/plugins/extras/editor/fzf.lua
Labels: extras

#5214 fix(luasnip): correctly remove duplicate snippets
  lua/lazyvim/plugins/extras/coding/luasnip.lua
Labels: extras

#5368 feat(extras): added extra for snacks picker
  lua/lazyvim/config/keymaps.lua
  lua/lazyvim/plugins/editor.lua
  lua/lazyvim/plugins/extras/editor/fzf.lua
  lua/lazyvim/plugins/extras/editor/snacks_picker.lua
  lua/lazyvim/plugins/ui.lua
  lua/lazyvim/util/pick.lua
Labels: extras

#5407 fix(snacks.picker): fix mapping for `Recent (cwd)`
  lua/lazyvim/plugins/extras/editor/snacks_picker.lua
Labels: extras

#5411 feat(dial): add checkbox augend for markdown
  lua/lazyvim/plugins/extras/editor/dial.lua
Labels: extras

#5415 fix(snacks.picker): respect lazyvim.config.kind_filter
  lua/lazyvim/plugins/extras/editor/snacks_picker.lua
Labels: extras

#5141 refactor(blink): color swatch icon upstreamed
  lua/lazyvim/plugins/extras/coding/blink.lua
Labels: extras, Stale

#5429 feat(chezmoi): add snacks picker integration for chezmoi files
  lua/lazyvim/plugins/extras/util/chezmoi.lua
Labels: extras

#5433 fix(snacks.picker): fix mapping for Projects for consistency
  lua/lazyvim/plugins/extras/editor/snacks_picker.lua
Labels: extras

#5274 feat(snippets): an extra for mini.snippets
  lua/lazyvim/plugins/extras/coding/mini-snippets.lua
Labels: extras

#5447 feat(snacks.picker): added <leader>su to search undotree
  lua/lazyvim/plugins/extras/editor/snacks_picker.lua
Labels: extras

#5460 feat(snacks.picker): added <leader>si to search icons
  lua/lazyvim/plugins/extras/editor/snacks_picker.lua
Labels: extras

#5470 fix(luasnip): schedule `jump` to be compatible with blink, nvim-cmp still works after change
  lua/lazyvim/plugins/extras/coding/luasnip.lua
Labels: extras

#5459 fix(keymaps): remove unneeded and ambiguous `<leader>w` keymap
  lua/lazyvim/config/keymaps.lua
Labels: core

#5485 fix(snacks): use `Snacks.picker` for recent files
  lua/lazyvim/plugins/extras/editor/snacks_picker.lua
Labels: extras

#5505 feat(snippets): mini.snippets is out of beta
  lua/lazyvim/plugins/extras/coding/mini-snippets.lua
Labels: extras
