Repository LazyVim/LazyVim, pull requests merged in 2025-09, with the labels that each got.

#6354 fix(catppuccin): follow renamed integration
  lua/lazyvim/plugins/colorscheme.lua
Labels: core-plugins

#5763 fix(neo-tree): import neo-tree Extra before edgy Extra
  lua/lazyvim/plugins/xtras.lua
Labels: core-plugins, Stale

#6429 fix(jdtls): root_dir
  lua/lazyvim/plugins/extras/lang/java.lua
Labels: extras, extras-lang

#6419 fix(lang.haskell): prevent Haskell extras from installing telescope.nvim
  lua/lazyvim/plugins/extras/lang/haskell.lua
Labels: extras, extras-lang

#5882 fix(refactoring): update funcs to return, add `expr=true`, operator mode
  lua/lazyvim/plugins/extras/editor/refactoring.lua
Labels: extras, Stale

#5772 fix(grug-far): add support for GrugFarWithin so it gets loaded by default
  lua/lazyvim/plugins/editor.lua
Labels: core-plugins, Stale

#6433 docs(treesitter): fix checkhealth command
  NEWS.md
  lua/lazyvim/plugins/treesitter.lua
Labels: core-plugins

#6069 fix(python): remove the wrapping `settings` key from `setup()` options
  lua/lazyvim/plugins/extras/lang/python.lua
Labels: extras, extras-lang, Stale

#5876 fix(extras.lang): use 'nvim-paredit' instead 'nvim-treesitter-sexp' as clojure S-exp Plugin
  lua/lazyvim/plugins/extras/lang/clojure.lua
Labels: extras, extras-lang, Stale

#5802 feat(yanky): use snacks picker for improved yank history navigation
  lua/lazyvim/plugins/extras/coding/yanky.lua
Labels: extras, Stale

#6208 fix(lang.clojure): correct cmp-conjure source name
  lua/lazyvim/plugins/extras/lang/clojure.lua
Labels: extras, extras-lang, Stale

#6481 fix(editor): calculate the height passed to the prompt of fzf-lua properly
  lua/lazyvim/plugins/extras/editor/fzf.lua
Labels: extras

#5551 feat(copilot): use `blink-copilot` as blink.cmp copilot source
  lua/lazyvim/plugins/extras/ai/copilot.lua
Labels: extras, Stale

#4911 fix(lualine): pretty path fix for mixed case paths on Windows
  lua/lazyvim/util/lualine.lua
Labels: core, Stale

#5733 fix(luasnip): add missing optional tag to garymjr/nvim-snippets
  lua/lazyvim/plugins/extras/coding/luasnip.lua
Labels: extras

#6498 fix(jdtls): allow mason jdtls installation
  lua/lazyvim/plugins/extras/lang/java.lua
Labels: extras, extras-lang
