Repository LazyVim/LazyVim, pull requests merged in 2025-02, with the labels that each got.

#5540 feat(refactoring): fallback to using vim ui select for refactoring.nvim
  lua/lazyvim/plugins/extras/editor/refactoring.lua
Labels: extras

#5170 fix(go): update go.lua to eliminate fieldalignment from analyses
  lua/lazyvim/plugins/extras/lang/go.lua
Labels: extras, extras-lang, Stale

#5584 feat(editor): update parameter for fzf-lua
  lua/lazyvim/plugins/extras/editor/fzf.lua
Labels: extras

#5594 feat(extras): setup neogen and mini.snippets integration
  lua/lazyvim/plugins/extras/coding/neogen.lua
Labels: extras

#5608 feat(keymaps): enable toggling in quickfix list and location list
  lua/lazyvim/config/keymaps.lua
Labels: core

#5607 feat(snacks.picker): added support for Project shortcuts in other dashboards
  lua/lazyvim/plugins/extras/editor/snacks_picker.lua
  lua/lazyvim/plugins/xtras.lua
Labels: extras

#5615 fix(blink): `cmdline` is now top-level on main branch
  lua/lazyvim/plugins/extras/coding/blink.lua
Labels: extras

#5616 fix(blink): `blink` released new version, remove previous hack
  lua/lazyvim/plugins/extras/coding/blink.lua
Labels: extras

#5620 fix(blink): remove unnecessary `sources` from `cmdline`
  lua/lazyvim/plugins/extras/coding/blink.lua
Labels: extras

#5507 feat(snippets): mini.snippets standalone and blink.resubscribe
  lua/lazyvim/plugins/extras/coding/mini-snippets.lua
Labels: extras

#5625 feat(octo): add support for snacks picker
  lua/lazyvim/plugins/extras/util/octo.lua
Labels: extras

#5275 feat(chezmoi): enhance fzf-lua chezmoi picker and add snacks.dasbhoard entry
  lua/lazyvim/plugins/extras/util/chezmoi.lua
Labels: extras, Stale

#5668 fix(blink): make sure to use `LazyVim.config.icons.kinds`
  lua/lazyvim/plugins/extras/coding/blink.lua
Labels: extras
